// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat',Helvetica,Arial,sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-primary: #7367F0;
$color-secondary: #67a0f0;

$color-main-text: #626262;
$color-main-bg: #F8F8F8;

$color-white: #FFFFFF;
$color-black: #FFFFFF;

$color-montgomery-primary: #3C5164;
$color-montgomery-gray: #DCD3CB;
$color-montgomery-red: #ED6861;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Interface
$sidebar-width: 260px;
$mobile-navbar-topbar-height: 60px;
$footer-height: 46px;
